@import "variables";
@import "breakpoints";

@mixin grid($cols, $margin) {
  -ms-flex: 0 0 (100%/ ($cols + $margin));
  flex: 0 0 (100%/ ($cols + $margin));
  max-width: (100%/ ($cols + $margin));
  margin-right: ((100% / $cols)- (100%/ ($cols + $margin)));
  margin-top: ((100% / $cols)- (100%/ ($cols + $margin)));
}
@function pxToVh($element) {
  @return #{($element/1080) * 100}vh;
}

@function pxToVw($element) {
  @return #{($element/1920) * 100}vw;
}
@function pxToEm($element) {
  @return #{$element/16}em;
}
// @include lg{
//   .single{
//      color:red;
//   }

// }







