*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
	color: rgba(219,219,219,1);
}
#active{
    border-bottom: 5px solid white;
}
.app-container{
    background: url("/challenge-1/public/images/background.png");
   width: 1920px;
  height: 1080px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 
}
.hero{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 95px;
}
.horizontal-line{
    width: 1820px;
    height: 0px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 0.66;
    margin-left:14px;
    margin-right:14px;

}
.logo{
 width: 31.43px;
margin-left:2.60416666667%;
height: 30px;
margin-top:30px;

}
.icon{
    margin-top:30px;
    margin-right:2.60416666667%;
}

.navbar-left{
    display: flex;
    gap:pxTovw(569);
    align-items: center;
}
.nav-links{
  display: flex;
  gap:46px;
  width: 530px;
height: 45px;  
}
.single{
        font-family: Poppins;
		font-style: normal;
		font-weight: lighter;
		font-size: 17px;
        letter-spacing: 1.69px;
}

  
.paragraph-body{
 max-width: 25.7291666667%;
height: 114px;
font-family: Poppins;
font-weight: 300;
font-size: 16px;
line-height: 20.8px;
text-align: left;
color: #dbdbdb;
margin-left:2.60416666667%;
margin-top:2.60416666667%;

}
.body-images{
    display: flex;
    justify-content: space-between;
}
// .right{
//     // height: 404px;
// }
.right-container{
    margin-right:-5.17708333333%;
    // margin-bottom: 257px;
    //  width: 404px;
    //    overflow: hidden;
}
.progress-bar{
    margin-left:2.60416666667%;
}
.left{
    height: 300px;
   
   .social-media-icons{
    margin-right:36px;
   }
    
}
.left-container{
    // height: 300px;
    // width: 300px; 
    overflow: hidden; 
    margin-top:3.7962962963%;
  margin-left:-2.17708333333%;
  max-height: 33.6981481481%;
  margin-bottom: 49px;

}
   
// }


.footer{
    display: flex;
    justify-content: space-between;
    gap: 155px;
}
.icons{
    display: flex;
    justify-content: space-between;
    gap: 175px;
}
 

 .paragraph-2-title{
    font-family:"open sans";
    max-width: 25.7291666667%;
    font-weight:600;
    text-transform:uppercase;
    font-size:16px;
   margin-left:2.60416666667%;
   margin-bottom:40px;
   
 }
 .paragraph-2-sub{
    font-family:"sofia-pro";
    // max-width: 25.7291666667%;
    font-size:82px;
    font-weight:bold;
   margin-left:2.60416666667%;
   margin-bottom: 195px;

 }
 @media (max-width: 600px) {
    .nav-links {
      display: none;
    }
    .app-container{
        width: 414px;
        height: 896px;
        opacity: 1;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }
    .paragraph-body{
        max-width: 268px;
        font-family: Poppins;
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
        text-align: left;

        color: #dbdbdb; 
    }

    .right-container{
        width: 205.26px;
height: 132px;
overflow: hidden; 
margin-top: 561px;
    }
    .right{
        width: 205.26px;
        height: 132px;
    }
    .left-container{
        margin-top: 561px;
        width: 169.93px;
height: 132px;


    }
    .left{
        width: 169.93px;
        height: 132px; 
        margin-left:-2.17708333333%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 78px;
    }
    .logo{
        width: 31.43px;
       margin-left:14px;
       height: 30px;
       margin-top:15px;
       width: 31.43px;
       
       }
       .icon{
           margin-top:15px;
           margin-right:14px;
       }
       .horizontal-line{
        width: 389px;
        height: 0px;
        background: transparent;
        border: 1px solid #fff;
        opacity: 0.66;
        margin-left:2.60416666667%;
        margin-right:2.60416666667%;
        margin-top: -26px;
        width: 384px;
    }

    
}