@import "../../sass/mixins";
@import "../../sass/variables";
@import "../../sass/breakpoints";
@import "../../sass/mediaQueries";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}
#active {
  border-bottom: 5px solid $white;
}
.app-container {
  background: url("/challenge-1/images/background.png");

  position: relative;
  height: 100vh;
    max-height: 100vh;
    background-position: auto 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow: unset;
    overflow-x: hidden;
  @include responsive(phone) {
    background: url("/challenge-1/images/background-phone.png");
  }
  @include responsive(ipad-only) {

  }
}
.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include responsive(ipad-only) {
    height: 100vh;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: pxToEm(95);
}
.horizontal-line {
  width: 95vw;
  height: 0px;
  background: transparent;
  border: 1px solid $white;
  opacity: 0.66;
  margin-left: 2.60416666667%;
  margin-top: -28px;
}

.text-right {
  font-size: 400px;
  font-weight: bold;
  -webkit-text-stroke: 2px $white;
  -webkit-text-fill-color: transparent;
  // width: 409.88px;
  // height: 349.36px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: -195px;
  @include responsive(phone) {
    font-size: 190px;
    margin-top: 0;
    margin-right: -108px;
  }
  @include responsive(ipad-only) {
    margin-right: -200px;
  }
}

.text-left {
  font-size: 400px;
  font-weight: bold;
  -webkit-text-stroke: 2px $white;
  -webkit-text-fill-color: transparent;
  width: auto;
  height: 349.36px;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
// .left{
//     width: 100%;
//     height:auto;
// }
.logo {
  width: auto;
  margin-left: 2.60416666667%;
  height: 30px;
  margin-top: 30px;
}
.icon {
  margin-top: 30px;
  margin-right: 2.60416666667%;
  width: auto;
  height: 20px;
}

.navbar-left {
  display: flex;
  gap: pxToVw(569);
  align-items: center;
}
// .body{
//     overflow: hidden;
// }
.nav-links {
  display: flex;
  gap: 46px;
  width: 530px;
  height: 45px;
}
.single {
  font-family: Poppins;
  font-style: normal;
  font-weight: lighter;
  font-size: pxToEm(17);
  letter-spacing: 1.69px;
}

.paragraph-body {
  max-width: 25.7291666667%;
  height: 114px;
  font-family: Poppins;
  font-weight: 300;
  font-size: pxToEm(16);
  line-height: 1.3;
  text-align: left;
  color: #dbdbdb;
  margin-left: 2.60416666667%;
  margin-top: 2.60416666667%;
  @include responsive(phone) {
    max-width: 268px;
    height: 85px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.3;
    text-align: left;
    color: #dbdbdb;
  }
  @include responsive(tab-port) {
    width: 268px;
    height: 131px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    text-align: left;
    color: #dbdbdb;
  }
}
.body-images {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  .text-right-image {
    display: flex;
    align-items: center;
    margin-right: -100px;
    transform: scale(1);
  }

  @include responsive(phone) {
    width: 100vw;
    margin-top: 35vh;
    //border: 10px white solid;
    height: 20vh;

    .text-right-image {
      margin-right: -100px;
      transform: scale(0.9);
    }
  }
  @include responsive(ipad-only) {
    width: 100vw;
    height: 40vh;
    margin-top: 4em;

    .text-right-image {
      display: flex;
      align-items: center;
      margin-right: -300px;
      transform: scale(0.55);
    }
  }
}
.right {
  width: 100%;
  height: auto;
  // padding-right:-29.60416666667%;
  @include responsive(phone) {
    transform: scale(0.9);
    margin-top: 0;
  }
  @include responsive(ipad-only) {
  }

  //
}
.right-image {
  height: 404px;
  width: auto;
  @include responsive(phone) {
    height: auto;
  }
  @include responsive(ipad-only) {
    margin-right: 105px;
  }
}

.progress-bar {
  margin-left: 2.60416666667%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}
.left {
  width: 100%;
  transform: scale(0.7);
  height: auto;
  @include responsive(phone) {
    transform: scale(0.5);
    margin-top: 0;
  }
}

.social-media-icons {
  margin-right: 36px;
  @include responsive(phone) {
    transform: scale(0.5);
    margin-right: 20em;
  }
  @include responsive(ipad-only) {
    transform: scale(0.5);
  }
}
.arrows-icon {
  @include responsive(phone) {
    transform: scale(0.7);
    margin-left:20em;
  }
  @include responsive(ipad-only) {
    transform: scale(0.6);
  }
}

// .left-text-id{
//     margin-left:-60.17708333333%;
// }

.left-container {
  //   margin-top: 3.7962962963%;
  margin-left: -30.17708333333%;
  //   max-height: 33.6981481481%;
  //   margin-bottom: pxToEm(49);
  width: auto;
  @include responsive(phone) {
    margin-left: -50.17708333333%;
  }
  @include responsive(ipad-only) {
    // margin-bottom: 500px;
    margin-left: -70.17708333333%;
    transform: scale(0.55);
  }
  //   height: 260.94px;
}

// // .left-text-id{
// //     margin-top:3.7962962963%;
// //     margin-left:-2.17708333333%;
// //     max-height: 33.6981481481%;
// //     margin-bottom: pxToEm(49);
// //     width: 364.94px;
// //     height: 363.94px;
// }

.footer {
  display: flex;
  justify-content: space-around;
  gap: pxToVw(155);

  @include responsive(phone) {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  @include responsive(ipad-only) {
    margin-top: -5em;
  }
}
.icons {
  display: flex;
  justify-content: space-around;
  gap: pxToVw(175);
  @include responsive(phone) {
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

.paragraph-2-title {
  font-family: "Open Sans", sans-serif;
  // max-width: 25.7291666667%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: pxToEm(16);
  margin-left: 2.60416666667%;
  //    margin-bottom:40px;
  letter-spacing: 0.17em;
  // line-height: 57px;
  text-align: left;
  color: #dbdbdb;
  @include responsive(phone) {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.17em;
    line-height: 15.6px;
    text-align: left;
    color: #dbdbdb;
  }
}

.paragraph-2 {
  @include responsive(ipad-only) {
    margin-top: 1em;
    transform: scale(0.7);
  }
}

.paragraph-2-sub {
  font-family: $sf-pro-heavy;
  text-transform: capitalize;
  // max-width: 25.7291666667%;
  font-size: pxToVw(82);
  font-weight: bold;
  margin-left: 2.60416666667%;
  padding-bottom: 40px;
  @include responsive(phone) {
    font-family: $sf-pro-heavy;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: #dbdbdb;
    padding-bottom: 0;
  }
  @include responsive(ipad-only) {
    font-size: 50px;
    line-height: 106.6px;
    text-align: left;
    color: #dbdbdb;
  }
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: pxToEm(31);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: pxToEm(16);
  @include responsive(ipad-only) {
    margin-left: 100px;
  }
}
.active-number {
  font-size: pxToEm(24);
  font-weight: 700;
}
.line1 {
  background-color: #dbdbdb;
  width: 177px;
  height: 1px;
}
.line2 {
  background-color: rgba(255, 255, 255, 0.219);
  height: 1px;
  width: 694px;
}
.lines {
  display: flex;
  width: 47vw;
  @include responsive(ipad-only) {
    width: 35vw;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
}
